<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>

    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addStudent</display-name>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>com.app.controller.addStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAdmin</display-name>
    <servlet-name>addAdmin</servlet-name>
    <servlet-class>com.app.controller.addAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdmin</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerserv</display-name>
    <servlet-name>registerserv</servlet-name>
    <servlet-class>com.app.controller.registerserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerserv</servlet-name>
    <url-pattern>/registerserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksListServlet</display-name>
    <servlet-name>BooksListServlet</servlet-name>
    <servlet-class>com.app.controller.BooksListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksListServlet</servlet-name>
    <url-pattern>/BooksListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBook</display-name>
    <servlet-name>addBook</servlet-name>
    <servlet-class>com.app.controller.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBook</display-name>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>com.app.controller.ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookAdmin</display-name>
    <servlet-name>ViewBookAdmin</servlet-name>
    <servlet-class>com.app.controller.ViewBookAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookAdmin</servlet-name>
    <url-pattern>/ViewBookAdmin</url-pattern>
  </servlet-mapping>
</web-app>